#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #60a5fa, #3b82f6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  padding: 1.5rem 3rem;
  box-shadow: 0 4px 8px rgba(100, 100, 100, 0.5);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 75%;
    padding: 1.5rem 2.5rem;
  }
  .search-input {
    max-width: 70%;
  }
}

.city {
  font-size: 2.5rem;
  font-weight: bold;
}

.temperature {
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0px;
}

.condition {
  font-size: 1.25rem;

}

.condition img {
  display: block;
  margin: 0 auto;
  margin-top: -10px;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.forecast {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 2rem;
}

.forecast-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.forecast-days {
  display: flex;
  justify-content: space-between;
}

.forecast-day {
  font-weight: bold;
}

.forecast-temp,
.forecast-condition {
  font-size: 0.875rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  /*
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  */
  border-radius: 10px;  
  max-width: 400px;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px 0 0 5px;
  background-color: rgba(255, 255, 255, 0.2); 
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input::placeholder {
  color: rgb(255, 255, 255);
}

.search-input:focus {
  border-color: #3b82f6;
}

.search-button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #3b82f6;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}